.certification__title{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 288px;
}
.certification__title-text--lite{
    font-weight: 300;
    color: rgba(189, 189, 189, 1);
}
.certification__title-text--dark{
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
}
.certification__title-text{
    font-family: Roboto, serif;
    font-size: 64px;
}
